<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/top.css">
	<title>管理画面</title>
</head>

<body>
	<header class="content">
		<div class="main-content">
			<div class="logo"><img src="images/logo.jpg" width="250" height="46" border="0" /></div>
		</div>
	</header>

	<section class="content">
		<div class="main-content">
			<!--新着情報-->
			<p class="news-title">新着情報管理</p>

			<div class="news-box">
				<p class="news-subtitle">＜ 日本語サイト管理 ＞</p>

				<ul class="btn">
					<li><a href="news/new.php" class="btn-left">新規登録</a></li>
					<li><a href="news/list.php" class="btn-right">修正・削除</a></li>
				</ul>
				<span class="clear">&nbsp;</span>

				<p class="news-subtitle">＜ 英語サイト管理 ＞</p>

				<ul class="btn">
					<li><a href="news-en/new.php" class="btn-left">新規登録</a></li>
					<li><a href="news-en/list.php" class="btn-right">修正・削除</a></li>
				</ul>
				<span class="clear">&nbsp;</span>
			</div>
			<!--//新着情報-->

			<!--資料DL-->
			<p class="dl-title">資料ダウンロード管理</p>

			<div class="dl-box">
				<p class="dl-subtitle">＜ 日本語サイト管理 ＞</p>

				<ul class="btn2">
					<li><a href="dl/regist.php" class="btn-left">登録・更新・削除</a></li>
				</ul>
				<span class="clear">&nbsp;</span>

				<p class="dl-subtitle">＜ 英語サイト管理 ＞</p>

				<ul class="btn2">
					<li><a href="dl-en/regist.php" class="btn-left">登録・更新・削除</a></li>
				</ul>
				<span class="clear">&nbsp;</span>
			</div>
			<!--//資料DL-->

			<!--採用案内-->
			<p class="rec-title">採用案内管理</p>

			<div class="rec-box">
				<ul class="btn2">
					<li><a href="recruit/regist.php" class="btn-left">登録・更新・削除</a></li>
				</ul>
				<span class="clear">&nbsp;</span>
			</div>
			<!--//採用案内-->


			<p class="logout"><a href="logout.php">× LOGOUT</a></p>

		</div>
	</section>
</body>

</html>