<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" class="top">
<head>
    <title>旭倉庫株式会社</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/reset.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/parts/header.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/parts/footer.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/style-add.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/page/toppage.css">


    <!-- ファビコン -->
    <link rel="icon" sizes="150x150" href="./assets/img/app-icon.png">
    <link rel="apple-touch-icon" sizes="150x150"  href="./assets/img/app-icon.png">

    <!--#include virtual="inc/ga.html" -->
</head>
<body id="page-top" class="page-home">
    <!--#include virtual="inc/header.html" -->
    <main id="site-content">
        <div class="site-content-inner">
            <section class="top-mainview">
                <div class="top-mainview__slide">
                    <!--
                    <img src="./assets/img/top_slide00.jpg" class="top-mainview__slide-img">
                    -->
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide01.jpg">
                        <img src="./assets/img/toppage/top_slide01.jpg">
                    </picture>
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide02.jpg">
                        <img src="./assets/img/toppage/top_slide02.jpg">
                    </picture>
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide03.jpg">
                        <img src="./assets/img/toppage/top_slide03.jpg">
                    </picture>
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide04.jpg">
                        <img src="./assets/img/toppage/top_slide04.jpg">
                    </picture>
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide05.jpg">
                        <img src="./assets/img/toppage/top_slide05.jpg">
                    </picture>
                </div>
                <!--
                <div class="top-mainview__box">
                    <div class="top-mainview__box-text">
                        <div class="text"><p><span>基本</span>に忠実に</p></div>
                        <div class="text"><p><span>革新</span>へ着実に</p></div>
                    </div>
                    <div class="top-mainview__box-sub">
                        旭倉庫はこれからも<br>
                        皆様と一緒にあたらしい価値をつくるために<br>
                        一歩ずつ着実に前進してまいります
                    </div>
                </div>
                -->
            </section>

            <section class="top-business">
                <div class="h2-type1 top-business__h2">
                    <div class="h2-type1__icon"><img src="./assets/img/toppage/icon_souko_red.png" alt="" class="h2-type1__icon-img"></div>
                    <div class="h2-type1__title">
                        <div class="h2-type1__title-en">Business</div>
                        <h2 class="h2-type1__title-ja">事業内容</h2>
                    </div>
                    <div class="h2-type1__copy">
                        <p class="h2-type1__copy-p1">保管する場所からさまざまな発展と利用へ。</p>
                        <p class="h2-type1__copy-p2">発信スペースとして、フレキシブルな提案をいたします。</p>
                    </div>
                </div>
                <div class="posts-type1 top-business__posts">
                    <ul class="posts-type1__list">
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e01" class="posts-type1__link">
                                <p class="posts-type1__p">保税保管</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e03" class="posts-type1__link">
                                <p class="posts-type1__p">食品保管／定温保管</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e04" class="posts-type1__link">
                                <p class="posts-type1__p">危険品保管</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#f02" class="posts-type1__link">
                                <p class="posts-type1__p">トランクルーム</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#f04" class="posts-type1__link">
                                <p class="posts-type1__p">電子化サービス</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e02" class="posts-type1__link">
                                <p class="posts-type1__p">各種荷役作業</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e05" class="posts-type1__link">
                                <p class="posts-type1__p">運送手配</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#f01" class="posts-type1__link">
                                <p class="posts-type1__p">不動産賃貸</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#f03" class="posts-type1__link">
                                <p class="posts-type1__p">文書保管</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./system/index.html" class="posts-type1__link">
                                <p class="posts-type1__p">WEB照会</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="top-warehouse">
                <div class="h2-type1 top-warehouse__h2">
                    <div class="h2-type1__icon"><img src="./assets/img/toppage/icon_souko_white.png" alt="" class="h2-type1__icon-img"></div>
                    <div class="h2-type1__title">
                        <div class="h2-type1__title-en">Warehouse</div>
                        <h2 class="h2-type1__title-ja">拠点紹介</h2>
                    </div>
                    <div class="h2-type1__copy">
                        <p class="h2-type1__copy-p1">好立地条件をそなえた首都圏7拠点。</p>
                        <p class="h2-type1__copy-p2">陸路・空路・海路に便のよい7つのセンターの<br>立地を活かし、さまざまなニーズに対応します。</p>
                    </div>
                </div>
                <div class="posts-type2 top-warehouse__posts">
                    <div class="posts-type2__pc">
                        <ul class="posts-type2__pc-row1">
                            <li class="posts-type2__pc-item">
                                <a href="./base/honsya.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_tukishima.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">本社・月島事業所</div>
                                    <div class="posts-type2__pc-type">トランクルーム</div>
                                    <div class="posts-type2__pc-type">不動産賃貸</div>
                                    <div class="posts-type2__pc-text">月島の好立地と倉庫建物の特性を活かし、さまざまな商業施設のテナントとして、また弊社のトランクルームサービスの拠点として機能しています。</div>
                                    <div class="posts-type2__pc-address">東京都中央区月島1丁目14番7号</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/kawasaki.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_kawasaki.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">川崎営業所</div>
                                    <div class="posts-type2__pc-type">定温保管</div>
                                    <div class="posts-type2__pc-type">保税保管</div>
                                    <div class="posts-type2__pc-text">環境と設備が、最先端倉庫に最大のメリットを発揮。食品・飲料保管に特化した倉庫として、国際ビジネスの保税倉庫として活用いただいています。</div>
                                    <div class="posts-type2__pc-address">神奈川県川崎市川崎区東扇島26番4号</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/matudo.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_matudo.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">松戸営業所</div>
                                    <div class="posts-type2__pc-type">危険品保管</div>
                                    <div class="posts-type2__pc-text">首都圏近郊では少ない「普通品」と「危険品」がセットで保管できるハイブリッド倉庫。</div>
                                    <div class="posts-type2__pc-address">千葉県松戸市南花島向町312番地</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="posts-type2__pc-row2">
                            <li class="posts-type2__pc-item">
                                <a href="./base/itabashi.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_itabashi.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">板橋営業所</div>
                                    <div class="posts-type2__pc-type">文書保管</div>
                                    <div class="posts-type2__pc-text">徹底した出入室管理。駅から徒歩10分の好立地。使い勝手がよくクオリティの高い文書保管サービスを提供しています。</div>
                                    <div class="posts-type2__pc-address">東京都板橋区高島平6丁目1番7号</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/adachi.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_adachi.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">足立営業所</div>
                                    <div class="posts-type2__pc-text">首都圏への即日配送が可能な好立地と、安心・安全の荷役サービスで物流戦略をご提案します。</div>
                                    <div class="posts-type2__pc-address">東京都足立区入谷6丁目2番11号</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/kashiwa.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_kashiwai.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">柏事業所</div>
                                    <div class="posts-type2__pc-text">常磐自動車道「柏インター」から15分の利便性。広大な敷地と平屋が特徴です。</div>
                                    <div class="posts-type2__pc-address">千葉県流山市駒木538番地</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/asahi.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_asahi.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">アサヒレインボースクエア</div>
                                    <div class="posts-type2__pc-text">屋内外の駐車場とアクセスの良さから郊外型店舗として現在活用いただいています。</div>
                                    <div class="posts-type2__pc-address">東京都足立区小台1丁目20番6号</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="posts-type2__sp">
                        <ul class="posts-type2__sp-list">
                            <li class="posts-type2__sp-item">
                                <a href="./base/honsya.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_tukishima.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">本社・月島事業所</div>
                                    <div class="posts-type2__sp-type">トランクルーム</div>
                                    <div class="posts-type2__sp-type">不動産賃貸</div>
                                    <div class="posts-type2__sp-text">月島の好立地と倉庫建物の特性を活かし、さまざまな商業施設のテナントとして、また弊社のトランクルームサービスの拠点として機能しています。</div>
                                    <div class="posts-type2__sp-address">東京都中央区月島1丁目14番7号</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/kawasaki.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_kawasaki.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">川崎営業所</div>
                                    <div class="posts-type2__sp-type">定温保管</div>
                                    <div class="posts-type2__sp-text">環境と設備が、最先端倉庫に最大のメリットを発揮。食品・飲料保管に特化した倉庫として、国際ビジネスの保税倉庫として活用いただいています。</div>
                                    <div class="posts-type2__sp-address">神奈川県川崎市川崎区東扇島26番4号</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/matudo.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_matudo.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">松戸営業所</div>
                                    <div class="posts-type2__sp-type">危険品保管</div>
                                    <div class="posts-type2__sp-text">首都圏近郊では少ない「普通品」と「危険品」がセットで保管できるハイブリッド倉庫。</div>
                                    <div class="posts-type2__sp-address">千葉県松戸市南花島向町312番地</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/itabashi.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_itabashi.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">板橋営業所</div>
                                    <div class="posts-type2__sp-type">文書保管</div>
                                    <div class="posts-type2__sp-text">徹底した出入室管理。駅から徒歩10分の好立地。使い勝手がよくクオリティの高い文書保管サービスを提供しています。</div>
                                    <div class="posts-type2__sp-address">東京都板橋区高島平6丁目1番7号</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/adachi.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_adachi.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">足立営業所</div>
                                    <div class="posts-type2__sp-text">首都圏への即日配送が可能な好立地と、安心・安全の荷役サービスで物流戦略をご提案します。</div>
                                    <div class="posts-type2__sp-address">東京都足立区入谷6丁目2番11号</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/kashiwa.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_kashiwai.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">柏事業所</div>
                                    <div class="posts-type2__sp-text">常磐自動車道「柏インター」から15分の利便性。広大な敷地と平屋が特徴です。</div>
                                    <div class="posts-type2__sp-address">千葉県流山市駒木538番地</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/asahi.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_asahi.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">アサヒレインボースクエア</div>
                                    <div class="posts-type2__sp-text">屋内外の駐車場とアクセスの良さから郊外型店舗として現在活用いただいています。</div>
                                    <div class="posts-type2__sp-address">東京都足立区小台1丁目20番6号</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="top-news">
                <div class="top-news__inner">
                    <div class="h2-type2 top-news__h2">
                        <div class="h2-type2__en">新着情報</div>
                        <h2 class="h2-type2__ja">NEWS</h2>
<!-- tmpl:ifndef %wnew_nothing% -->
                        <div class="h2-type2__category">
                            <select name="category" id="category" class="h2-type2__category-select">
                                <option value="">全てのカテゴリーを表示</option>
                                <option value="1"%category_selected1%>文書保管</option>
                                <option value="2"%category_selected2%>営業倉庫</option>
                                <option value="3"%category_selected3%>不動産賃貸</option>
                                <option value="4"%category_selected4%>電子化</option>
                                <option value="5"%category_selected5%>採用</option>
                                <option value="6"%category_selected6%>お知らせ</option>
                                <option value="7"%category_selected7%>システム</option>
                                <option value="8"%category_selected8%>その他</option>
                                <option value="9"%category_selected9%>NEWS</option>
                                <option value="101"%category_selected101%>トランクルーム</option>
                                <option value="102"%category_selected102%>松戸営業所</option>
                                <option value="103"%category_selected103%>川崎営業所</option>
                                <option value="104"%category_selected104%>板橋営業所</option>
                                <option value="105"%category_selected105%>足立営業所</option>
                                <option value="106"%category_selected106%>柏事業所</option>
                                <option value="107"%category_selected107%>月島事業所</option>
                            </select>
                        </div>
<!-- tmpl:endif -->
                    </div>
                    <div class="posts-type3 top-news__posts">
<!-- tmpl:ifdef %wnew_nothing% -->
                        <p class="posts-type3__nothing">ただいま準備中</p>
<!-- tmpl:else -->
                        <ul class="posts-type3__list">
<!-- tmpl:loop %wnew_loop% -->
                            <li class="posts-type3__item">
                                <a href="./news/detail.php?id=%wnew_serial%"%wnew_target% class="posts-type3__link">
                                    <div class="posts-type3__category">%wnew_category%</div>
                                    <div class="posts-type3__date">%wnew_post_date%</div>
                                    <div class="posts-type3__title">%wnew_title%</div>
                                </a>
                            </li>
<!-- tmpl:endloop %wnew_loop% -->
                        </ul>
<!-- tmpl:endif -->
                    </div>
<!-- tmpl:ifndef %wnew_nothing% -->
                    <div class="btn-type1 top-news__btn">
                        <a href="/news/" class="btn-type1__link">過去のニュース</a>
                    </div>
<!-- tmpl:endif -->
                </div>
            </section>
        </div>
    </main>
    <!--#include virtual="inc/footer.html" -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./assets/lib/inview/jquery.inview.js"></script>
    <script src="./assets/lib/slick/slick.js"></script>
    <script src="./assets/js/script.js"></script>
    <script src="./assets/js/news.js"></script>
</body>
</html>
