<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/sub.css">
	<title>管理画面</title>

</head>

<body>
	<form method="post" action="#">

	<header class="content">
		<div class="main-content">
			<div id="header-l"><img src="../images/logo.jpg" width="250" height="46" alt="" border="0" /></div>

			<div id="header-r">
				<div id="logout"><a href="../index.php" class="bt-home">TOP</a><a href="../logout.php" class="bt-logout">LOGOUT</a></div>
			</div>
			<span class="clear">&nbsp;</span>
		</div>
	</header>

	<section class="content">
		<div class="main-content">
			<p class="title">新着情報管理（英語サイト）</p>

			<p class="news-subtitle">新規登録</p>

			<p class="finish-txt">新着情報の登録が完了しました。</p>

			<p class="back"><a href="new.php">新規作成画面へ</a></p>

		</div>
	</section>

	</form>
</body>

</html>