<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" class="top">
<head>
    <title>Asahi Warehouse Co.,ltd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/reset.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/parts/header.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/parts/footer.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/style-add.css">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/css/page/toppage.css">


    <!-- ファビコン -->
    <link rel="icon" sizes="150x150" href="./assets/img/app-icon.png">
    <link rel="apple-touch-icon" sizes="150x150"  href="./assets/img/app-icon.png">

    <!--#include virtual="inc/ga.html" -->
</head>
<body id="page-top" class="page-home">
    <!--#include virtual="inc/header.html" -->
    <main id="site-content">
        <div class="site-content-inner">
            <section class="top-mainview">
                <div class="top-mainview__slide">
                    <!--
                    <img src="./assets/img/top_slide00.jpg" class="top-mainview__slide-img">
                    -->
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide01.jpg">
                        <img src="./assets/img/toppage/top_slide01.jpg">
                    </picture>
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide02.jpg">
                        <img src="./assets/img/toppage/top_slide02.jpg">
                    </picture>
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide03.jpg">
                        <img src="./assets/img/toppage/top_slide03.jpg">
                    </picture>
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide04.jpg">
                        <img src="./assets/img/toppage/top_slide04.jpg">
                    </picture>
                    <picture class="top-mainview__slide-img">
                        <source media="(max-width: 767px)" srcset="./assets/img/toppage/mobile/m_top_slide05.jpg">
                        <img src="./assets/img/toppage/top_slide05.jpg">
                    </picture>
                </div>
            </section>

            <section class="top-business">
                <div class="h2-type1 top-business__h2">
                    <div class="h2-type1__icon"><img src="./assets/img/toppage/icon_souko_red.png" alt="" class="h2-type1__icon-img"></div>
                    <div class="h2-type1__title">
                        <div class="h2-type1__title-en">Business</div>
                        <h2 class="h2-type1__title-ja">Business</h2>
                    </div>
                    <div class="h2-type1__copy">
                        <p class="h2-type1__copy-p1">From places for storage to various developments and uses.</p>
                        <p class="h2-type1__copy-p2">We offer flexible solutions as a communication space.</p>
                    </div>
                </div>
                <div class="posts-type1 top-business__posts">
                    <ul class="posts-type1__list">
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e01" class="posts-type1__link">
                                <p class="posts-type1__p">Bonded Storage</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e03" class="posts-type1__link">
                                <p class="posts-type1__p">Food Storage / Temperature-Controlled Storage</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e04" class="posts-type1__link">
                                <p class="posts-type1__p">Hazardous Materials Storage</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#f02" class="posts-type1__link">
                                <p class="posts-type1__p">Self-Storage</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#f04" class="posts-type1__link">
                                <p class="posts-type1__p">Digitization Services</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e02" class="posts-type1__link">
                                <p class="posts-type1__p">Various Cargo Handling Operations</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#e05" class="posts-type1__link">
                                <p class="posts-type1__p">Freight Arrangements</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#f01" class="posts-type1__link">
                                <p class="posts-type1__p">Real Estate Leasing</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./business/index.html#f03" class="posts-type1__link">
                                <p class="posts-type1__p">Document Storage</p>
                            </a>
                        </li>
                        <li class="posts-type1__item">
                            <a href="./system/index.html" class="posts-type1__link">
                                <p class="posts-type1__p">Web inquiry</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="top-warehouse">
                <div class="h2-type1 top-warehouse__h2">
                    <div class="h2-type1__icon"><img src="./assets/img/toppage/icon_souko_white.png" alt="" class="h2-type1__icon-img"></div>
                    <div class="h2-type1__title">
                        <div class="h2-type1__title-en">Warehouse</div>
                        <h2 class="h2-type1__title-ja">Warehouse</h2>
                    </div>
                    <div class="h2-type1__copy">
                        <p class="h2-type1__copy-p1">Seven metropolitan hubs with excellent location advantages.</p>
                        <p class="h2-type1__copy-p2">We respond to needs by making the most of the locations of our seven centers, <br>offering great accessibility by land, sea, and air.</p>
                    </div>
                </div>
                <div class="posts-type2 top-warehouse__posts">
                    <div class="posts-type2__pc">
                        <ul class="posts-type2__pc-row1">
                            <li class="posts-type2__pc-item">
                                <a href="./base/honsya.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_tukishima.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">Head Office/Tsukishima Office</div>
                                    <div class="posts-type2__pc-type">Self-Storage</div>
                                    <div class="posts-type2__pc-type">Real Estate Leasing</div>
                                    <div class="posts-type2__pc-text">Taking advantage of Tsukishima’s strategic location and the warehouse buildings’ features, the site serves both as a tenant for various commercial establishments and as a hub for our self-storage services.</div>
                                    <div class="posts-type2__pc-address">1-14-7 Tsukishima, Chuo-ku, Tokyo 104-0052 </div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/kawasaki.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_kawasaki.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">Kawasaki Sales Office</div>
                                    <div class="posts-type2__pc-type">Temperature-Controlled Storage</div>
                                    <div class="posts-type2__pc-type">Bonded Storage</div>
                                    <div class="posts-type2__pc-text">The environment and equipment deliver the greatest advantages of a state-of-the-art warehouse, serving as a specialized storage facility for food and beverages and as a bonded warehouse for international trade.</div>
                                    <div class="posts-type2__pc-address">26-4 Higashiogishima, Kawasaki-ku, Kawasaki-shi, Kanagawa 210-0869</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/matudo.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_matudo.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">Matsudo Sales Office</div>
                                    <div class="posts-type2__pc-type">Hazardous Materials Storage</div>
                                    <div class="posts-type2__pc-text">A unique hybrid warehouse in the metropolitan area that offers combined storage for both general goods and hazardous materials.</div>
                                    <div class="posts-type2__pc-address">312 Minamihanashima Mukaimachi, Matsudo-shi, Chiba 271-0065</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="posts-type2__pc-row2">
                            <li class="posts-type2__pc-item">
                                <a href="./base/itabashi.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_itabashi.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">Itabashi Sales Office</div>
                                    <div class="posts-type2__pc-type">Document Storage</div>
                                    <div class="posts-type2__pc-text">With thorough building access control management and a prime location just a 10-minute walk from the station, we provide a highly convenient and premium document storage service.</div>
                                    <div class="posts-type2__pc-address">6-1-7 Takashimadaira, Itabashi-ku, Tokyo 175-0082</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/adachi.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_adachi.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">Adachi Sales Office</div>
                                    <div class="posts-type2__pc-text">With our prime location, secure and dependable handling services, we offer logistic strategies allowing same day delivery to metropolitan areas.</div>
                                    <div class="posts-type2__pc-address">6-2-11 Iriya, Adachi-ku, Tokyo 121-0836</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/kashiwa.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_kashiwai.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">Kashiwa Office</div>
                                    <div class="posts-type2__pc-text">Located just 15 minutes from the Joban Expressway’s Kashiwa Interchange, the site offers exceptional convenience with its expansive grounds and single-story buildings.</div>
                                    <div class="posts-type2__pc-address">538 Komagi, Nagareyama-shi, Chiba 270-0132</div>
                                </a>
                            </li>
                            <li class="posts-type2__pc-item">
                                <a href="./base/asahi.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_asahi.png" alt="" class="posts-type2__pc-img">
                                    <div class="posts-type2__pc-title">Asahi Rainbow Square </div>
                                    <div class="posts-type2__pc-text">With both indoor and outdoor parking and excellent accessibility, it is currently being used as a suburban-style retail store.</div>
                                    <div class="posts-type2__pc-address">1-20-6 Odai, Adachi-ku, Tokyo 120-0046</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="posts-type2__sp">
                        <ul class="posts-type2__sp-list">
                            <li class="posts-type2__sp-item">
                                <a href="./base/honsya.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_tukishima.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">Head Office/Tsukishima Office</div>
                                    <div class="posts-type2__sp-type">Self-Storage</div>
                                    <div class="posts-type2__sp-type">Real Estate Leasing </div>
                                    <div class="posts-type2__sp-text">Taking advantage of Tsukishima’s strategic location and the warehouse buildings’ features, the site serves both as a tenant for various commercial establishments and as a hub for our self-storage services.</div>
                                    <div class="posts-type2__sp-address">1-14-7 Tsukishima, Chuo-ku, Tokyo 104-0052</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/kawasaki.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_kawasaki.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">Kawasaki Sales Office </div>
                                    <div class="posts-type2__sp-type">Temperature-Controlled Storage</div>
                                    <div class="posts-type2__pc-type">Bonded Storage</div>
                                    <div class="posts-type2__sp-text">The environment and equipment deliver the greatest advantages of a state-of-the-art warehouse, serving as a specialized storage facility for food and beverages and as a bonded warehouse for international trade.</div>
                                    <div class="posts-type2__sp-address">26-4 Higashiogishima, Kawasaki-ku, Kawasaki-shi, Kanagawa 210-0869</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/matudo.html" class="posts-type2__pc-link">
                                    <img src="./assets/img/toppage/top_base_matudo.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">Matsudo Sales Office </div>
                                    <div class="posts-type2__sp-type">Hazardous Materials Storage</div>
                                    <div class="posts-type2__sp-text">A unique hybrid warehouse in the metropolitan area that offers combined storage for both general goods and hazardous materials.</div>
                                    <div class="posts-type2__sp-address">312 Minamihanashima Mukaimachi, Matsudo-shi, Chiba 271-0065</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/itabashi.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_itabashi.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">Itabashi Sales Office </div>
                                    <div class="posts-type2__sp-type">Document Storage</div>
                                    <div class="posts-type2__sp-text">With thorough building access control management and a prime location just a 10-minute walk from the station, we provide a highly convenient and premium document storage service.</div>
                                    <div class="posts-type2__sp-address">6-1-7 Takashimadaira, Itabashi-ku, Tokyo 175-0082</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/adachi.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_adachi.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">Adachi Sales Office </div>
                                    <div class="posts-type2__sp-text">With our prime location, secure and dependable handling services, we offer logistic strategies allowing same day delivery to metropolitan areas.</div>
                                    <div class="posts-type2__sp-address">6-2-11 Iriya, Adachi-ku, Tokyo 121-0836</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/kashiwa.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_kashiwai.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">Kashiwa Office </div>
                                    <div class="posts-type2__sp-text">Located just 15 minutes from the Joban Expressway’s Kashiwa Interchange, the site offers exceptional convenience with its expansive grounds and single-story buildings.</div>
                                    <div class="posts-type2__sp-address">538 Komagi, Nagareyama-shi, Chiba 270-0132</div>
                                </a>
                            </li>
                            <li class="posts-type2__sp-item">
                                <a href="./base/asahi.html" class="posts-type2__sp-link">
                                    <img src="./assets/img/toppage/top_base_asahi.png" alt="" class="posts-type2__sp-img">
                                    <div class="posts-type2__sp-title">Asahi Rainbow Square</div>
                                    <div class="posts-type2__sp-text">With both indoor and outdoor parking and excellent accessibility, it is currently being used as a suburban-style retail store.</div>
                                    <div class="posts-type2__sp-address">1-20-6 Odai, Adachi-ku, Tokyo 120-0046</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="top-news">
                <div class="top-news__inner">
                    <div class="h2-type2 top-news__h2">
                        <div class="h2-type2__en">News</div>
                        <h2 class="h2-type2__ja">NEWS</h2>
<!-- tmpl:ifndef %wnew_nothing% -->
                        <div class="h2-type2__category">
                            <select name="category" id="category" class="h2-type2__category-select">
                                <option value="">Show all categories</option>
                                <option value="1"%category_selected1%>Document Storage</option>
                                <option value="2"%category_selected2%>Public Warehouse</option>
                                <option value="3"%category_selected3%>Real Estate Leasing</option>
                                <option value="4"%category_selected4%>Digitization</option>
                                <option value="5"%category_selected5%>Careers</option>
                                <option value="6"%category_selected6%>Announcements</option>
                                <option value="7"%category_selected7%>System</option>
                                <option value="8"%category_selected8%>Other</option>
                                <option value="9"%category_selected9%>NEWS</option>
                                <option value="101"%category_selected101%>Self-Storage</option>
                                <option value="102"%category_selected102%>Matsudo Sales Office</option>
                                <option value="103"%category_selected103%>Kawasaki Sales Office</option>
                                <option value="104"%category_selected104%>Itabashi Sales Office</option>
                                <option value="105"%category_selected105%>Adachi Sales Office</option>
                                <option value="106"%category_selected106%>Kashiwa Office</option>
                                <option value="107"%category_selected107%>Tsukishima Office</option>
                        </select>
                        </div>
<!-- tmpl:endif -->
                    </div>
                    <div class="posts-type3 top-news__posts">
<!-- tmpl:ifdef %wnew_nothing% -->
                        <p class="posts-type3__nothing">Coming Soon!</p>
<!-- tmpl:else -->
                        <ul class="posts-type3__list">
<!-- tmpl:loop %wnew_loop% -->
                            <li class="posts-type3__item">
                                <a href="./news/detail.php?id=%wnew_serial%"%wnew_target% class="posts-type3__link">
                                    <div class="posts-type3__category">%wnew_category%</div>
                                    <div class="posts-type3__date">%wnew_post_date%</div>
                                    <div class="posts-type3__title">%wnew_title%</div>
                                </a>
                            </li>
<!-- tmpl:endloop %wnew_loop% -->
                        </ul>
<!-- tmpl:endif -->
                    </div>
<!-- tmpl:ifndef %wnew_nothing% -->
                    <div class="btn-type1 top-news__btn">
                        <a href="./news/" class="btn-type1__link">All News</a>
                    </div>
<!-- tmpl:endif -->
                </div>
            </section>
        </div>
    </main>
    <!--#include virtual="inc/footer.html" -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./assets/lib/inview/jquery.inview.js"></script>
    <script src="./assets/lib/slick/slick.js"></script>
    <script src="./assets/js/script.js"></script>
    <script src="./assets/js/news.js"></script>
</body>
</html>
